.addPage {
  width: 100%;
  min-height: 100vh;
  background-color: var(--container-bg);
  padding-top: 130px;
}

.addContent {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .addContent {
    width: 95%;
    padding: 1rem;
  }
}
